<h2> 17 </h2>

Autopilot
<select>
<option value="Engaged">Engaged</option>
<option value="Not Engaged">Not Engaged</option>
<option value="Not Engaged">Not Engaged</option>
<option value="N/A">N/A</option>
</select> <br>

Autothrottle
<select>
<option value="On">On</option>
<option value="Off">Off</option>
<option value="N/A">N/A</option>
</select> <br>

Flaps
<input type="text"> <br>

Speedbrake
<select>
<option value="In">In</option>
<option value="Out">Out</option>
<option value="N/A">N/A</option>
</select> <br>
Spoilers
<select>
<option value="In">In</option>
<option value="Out">Out</option>
<option value="N/A">N/A</option>
</select> <br>
Gear
<select>
<option value="Up">Up</option>
<option value="Down">Down</option>
<option value="N/A">N/A</option>
</select> <br>