<h4 class='centre'> Aircraft Configuration </h4>

<label class="item item-input item-select">
  <strong>Autopilot</strong>
  <select required ng-model="autopilot">
    <option disabled selected> select an option </option>
    <option value="Engaged">Engaged</option>
    <option value="Not Engaged">Not Engaged</option>
    <option value="Not Engaged">Not Engaged</option>
    <option value="N/A">N/A</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  <strong>Autothrottle</strong>
  <select required ng-model="autothrottle">
    <option disabled selected> select an option </option>
    <option value="On">On</option>
    <option value="Off">Off</option>
    <option value="N/A">N/A</option>
  </select>
</label>

<br>

<strong>Flaps</strong>
<label class="item item-input">
  <input type="text" placeholder="Flaps" ng-model="flaps">
</label>

<br>

<label class="item item-input item-select">
  <strong>Speedbrake</strong>
  <select required ng-model="speedbrake">
    <option disabled selected> select an option </option>
    <option value="In">In</option>
    <option value="Out">Out</option>
    <option value="N/A">N/A</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  <strong>Spoilers</strong>
  <select required ng-model="spoilers">
    <option disabled selected> select an option </option>
    <option value="In">In</option>
    <option value="Out">Out</option>
    <option value="N/A">N/A</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  <strong>Gear</strong>
  <select required ng-model="gear">
    <option disabled selected> select an option </option>
    <option value="Up">Up</option>
    <option value="Down">Down</option>
    <option value="N/A">N/A</option>
  </select>
</label>

<br>
