<h2> Aircraft Configuration </h2>

<label class="item item-input item-select">
  Autopilot
  <select required>
    <option value="Engaged">Engaged</option>
    <option value="Not Engaged">Not Engaged</option>
    <option value="Not Engaged">Not Engaged</option>
    <option value="N/A">N/A</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  Autothrottle
  <select required>
    <option value="On">On</option>
    <option value="Off">Off</option>
    <option value="N/A">N/A</option>
  </select>
</label>

<br>

Flaps
<label class="item item-input">
  <input type="text" placeholder="Flaps">
</label>

<br>

<label class="item item-input item-select">
  Speedbrake
  <select required>
    <option value="In">In</option>
    <option value="Out">Out</option>
    <option value="N/A">N/A</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  Spoilers
  <select required>
    <option value="In">In</option>
    <option value="Out">Out</option>
    <option value="N/A">N/A</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  Gear
  <select required>
    <option value="Up">Up</option>
    <option value="Down">Down</option>
    <option value="N/A">N/A</option>
  </select>
</label>
