<h2> 18 </h2>

TCAS Alert
<select>
<option value="TA">TA</option>
<option value="RA">RA</option>
</select> Required <br>

Type of RA
<select>
<option value="Traffic">Traffic </option>
<option value="Climb">Climb</option>
<option value="Climb, Climb RA">Climb, Climb RA</option>
<option value="Descend">Descend</option>
<option value="Descend, Descend RA">Descend, Descend RA</option>
<option value="Monitor Vertical Speed">Monitor Vertical Speed</option>
<option value="Level off, Level off">Level off, Level off</option>
</select> Required <br>

Complied with RA Command
<input type="radio" name="RACommand" value="True" checked> True
<br>
<input type="radio" name="RACommand" value="False"> False
<br> Required<br>

Loss of separation?
<input type="radio" name="LossOfSeperation" value="True" checked> True
<br>
<input type="radio" name="LossOfSeperation" value="False"> False
<br>

Aircraft Vertical Speed (ft/min)
<input type="text"> Required <br>

Vertical Deviation (ft)
<input type="text"> Required <br>

Reported to ATC
<input type="radio" name="ATC" value="True" checked> True
<br>
<input type="radio" name="ATC" value="False"> False
<br> Required<br>