<h4 class='centre'> Airprox / TCAS</h4>

<strong>TCAS Alert</strong><small class="error">*</small>
<div class="inline">
  <label class="item item-radio">
    <ion-radio name="group1" ng-model="FPCtrl.tcas_alert" value="TA" required>
      TA
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <ion-radio name="group1" ng-model="FPCtrl.tcas_alert" value="RA">
      RA
    <i class="radio-icon ion-checkmark"></i>
  </label>
</div>

<br>
<br>
<br>

<label class="item item-input item-select">
  <strong>Type of RA</strong><small class="error">*</small>
  <select ng-model="FPCtrl.type_of_ra" required>
  <option disabled selected> select an option </option>
  <option value="Traffic">Traffic </option>
  <option value="Climb">Climb</option>
  <option value="Climb, Climb RA">Climb, Climb RA</option>
  <option value="Descend">Descend</option>
  <option value="Descend, Descend RA">Descend, Descend RA</option>
  <option value="Monitor Vertical Speed">Monitor Vertical Speed</option>
  <option value="Level off, Level off">Level off, Level off</option>
  </select>
</label>

<br>

<strong>Complied with RA Command?</strong><small class="error">*</small>
<div class="inline">
  <label class="item item-radio">
    <ion-radio name="group2" ng-model="FPCtrl.complied_with_ra_command" value="true" required>
      Yes
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <ion-radio name="group2" ng-model="FPCtrl.complied_with_ra_command" value="false">
      No
    <i class="radio-icon ion-checkmark"></i>
  </label>
</div>

<br>
<br>
<br>

<strong>Loss of separation?</strong><small class="error">*</small>
<div class="inline">
  <label class="item item-radio">
    <ion-radio name="group3" ng-model="FPCtrl.loss_of_separation" value="true" required>
      Yes
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <ion-radio name="group3" ng-model="FPCtrl.loss_of_separation" value="false">
      No
    <i class="radio-icon ion-checkmark"></i>
  </label>
</div>

<br>
<br>
<br>

<strong>Aircraft Vertical Speed (ft/min)</strong><small class="error">*</small>
<label class="item item-input">
  <input type="number" placeholder="Aircraft Vertical Speed (ft/min)" ng-model="FPCtrl.aircraft_vertical_speed" required>
</label>

<br>

<strong>Vertical Deviation (ft)</strong><small class="error">*</small>
<label class="item item-input">
  <input type="number" placeholder="Vertical Deviation (ft)" ng-model="FPCtrl.vertical_deviation" required>
</label>

<br>

<strong>Reported to ATC?</strong><small class="error">*</small>
<div class="inline">
  <label class="item item-radio">
    <ion-radio name="group4" ng-model="FPCtrl.reported_to_atc" value="true" required>
      Yes
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <ion-radio name="group4" ng-model="FPCtrl.reported_to_atc" value="false">
      No
    <i class="radio-icon ion-checkmark"></i>
  </label>
</div>

<br>
<br>
<br>
