<h4 class='centre'> Altitude Deviation </h4>

Deviation detected by
<label class="item item-input">
  <input type="text" placeholder="Deviation detected by" ng-model="deviation_detected_by" required>
</label>

<br>

What was the rate of climb approaching the cleared altitude level
<label class="item item-input">
  <input type="number" placeholder="What was the rate of climb approaching the cleared altitude level" ng-model="what_was_the_rate_of_climb_approachin_the_cleared_altitude_level">
</label>

<br>

<label class="item item-input item-select">
  1000ft level off
  <select ng-model="thousandft_level_off" required>
  <option disabled selected> select an option </option>
  <option value="true">True</option>
  <option value="false">False</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  Altitude capture mode armed
  <select ng-model="altitude_capture_mode_armed" required>
  <option disabled selected> select an option </option>
  <option value="true">True</option>
  <option value="false">False</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  Altitude captured
  <select ng-model="altitude_captured" required>
  <option disabled selected> select an option </option>
  <option value="true">True</option>
  <option value="false">False</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  Altitude selection confirmed by PNF
  <select ng-model="altitude_selection_confirmed_by_pnf" required>
  <option disabled selected> select an option </option>
  <option value="">True</option>
  <option value="true">True</option>
  <option value="false">False</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  Correct altitude read back by PNF
  <select ng-model="correct_altitude_read_back_by_pnf" required>
  <option disabled selected> select an option </option>
  <option value="true">True</option>
  <option value="false">False</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  Correct altitute set by PF
  <select ng-model="correct_altitude_set_by_pf" required>
  <option disabled selected> select an option </option>
  <option value="true">True</option>
  <option value="false">False</option>
  </select>
</label>
