<h4 class='centre'> Altitude Deviation </h4>

<strong>Deviation detected by</strong><span class="error"> *</span>
<label class="item item-input">
  <input type="text" placeholder="Deviation detected by" ng-model="FPCtrl.deviation_detected_by" required>
</label>

<br>

<strong>What was the rate of climb approaching the cleared altitude level</strong>
<label class="item item-input">
  <input type="number" placeholder="What was the rate of climb approaching the cleared altitude level" ng-model="FPCtrl.what_was_the_rate_of_climb_approachin_the_cleared_altitude_level">
</label>

<br>

<strong>1000ft level off</strong><small class="error">*</small>
<div class="inline">
  <label class="item item-radio">
    <ion-radio name="group1" ng-model="FPCtrl.thousandft_level_off" value="true" required>
      Yes
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <ion-radio name="group1" ng-model="FPCtrl.thousandft_level_off" value="false">
      No
    <i class="radio-icon ion-checkmark"></i>
  </label>
</div>

<br>
<br>
<br>
<br>

<strong>Altitude capture mode armed</strong><small class="error">*</small>
<div class="inline">
  <label class="item item-radio">
    <ion-radio name="group2" ng-model="FPCtrl.altitude_capture_mode_armed" value="true" required>
      Yes
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <ion-radio name="group2" ng-model="FPCtrl.altitude_capture_mode_armed" value="false">
      No
    <i class="radio-icon ion-checkmark"></i>
  </label>
</div>

<br>
<br>
<br>
<br>

<strong>Altitude captured</strong><small class="error">*</small>
<div class="inline">
  <label class="item item-radio">
    <ion-radio name="group3" ng-model="FPCtrl.altitude_captured" value="true" required>
      Yes
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <ion-radio name="group3" ng-model="FPCtrl.altitude_captured" value="false">
      No
    <i class="radio-icon ion-checkmark"></i>
  </label>
</div>

<br>
<br>
<br>
<br>

<strong>Altitude selection confirmed by PNF</strong><small class="error">*</small>
<div class="inline">
  <label class="item item-radio">
    <ion-radio name="group4" ng-model="FPCtrl.altitude_selection_confirmed_by_pnf" value="true" required>
      Yes
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <ion-radio name="group4" ng-model="FPCtrl.altitude_selection_confirmed_by_pnf" value="false">
      No
    <i class="radio-icon ion-checkmark"></i>
  </label>
</div>

<br>
<br>
<br>
<br>

<strong>Correct altitude read back by PNF</strong><small class="error">*</small>
<div class="inline">
  <label class="item item-radio">
    <ion-radio name="group5" ng-model="FPCtrl.correct_altitude_read_back_by_pnf" value="true" required>
      Yes
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <ion-radio name="group5" ng-model="FPCtrl.correct_altitude_read_back_by_pnf" value="false">
      No
    <i class="radio-icon ion-checkmark"></i>
  </label>
</div>

<br>
<br>
<br>
<br>

<strong>Correct altitute set by PF</strong><small class="error">*</small>
<div class="inline">
  <label class="item item-radio">
    <ion-radio name="group6" ng-model="FPCtrl.correct_altitude_set_by_pf" value="true" required>
      Yes
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <ion-radio name="group6" ng-model="FPCtrl.correct_altitude_set_by_pf" value="false">
      No
    <i class="radio-icon ion-checkmark"></i>
  </label>
</div>

<br>
<br>
<br>
<br>
