<h2> Altitude Deviation </h2>

Deviation detected by
<label class="item item-input">
  <input type="text" placeholder="Deviation detected by" required>
</label>

<br>

What was the rate of climb approaching the cleared altitude level
<label class="item item-input">
  <input type="number" placeholder="What was the rate of climb approaching the cleared altitude level">
</label>

<br>

<label class="item item-input item-select">
  1000ft level off
  <select required>
  <option value="true">True</option>
  <option value="false">False</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  Altitude capture mode armed
  <select required>
  <option value="true">True</option>
  <option value="false">False</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  Altitude captured
  <select required>
  <option value="true">True</option>
  <option value="false">False</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  Altitude selection confirmed by PNF
  <select required>
  <option value="true">True</option>
  <option value="false">False</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  Correct altitude read back by PNF
  <select required>
  <option value="true">True</option>
  <option value="false">False</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  Correct altitute set by PF
  <select required>
  <option value="true">True</option>
  <option value="false">False</option>
  </select>
</label>
