<h4 class='centre'>Crew Information</h4>

<div class="list">
  <strong>Pilot in Command Name</strong>
  <label class="item item-input">
    <input type="text" placeholder="Pilot in Command Name" ng-model="pilot_in_command_name" required>
  </label>

  <br>

  <strong>Second in Command Name</strong>
  <label class="item item-input">
    <input type="text" placeholder="Second in Command Name" ng-model="second_in_command_name" required>
  </label>

  <br>

  <strong>Cabin Crew Name</strong>
  <label class="item item-input">
    <input type="text" placeholder="Cabin Crew Name" ng-model="cabin_crew_name">
  </label>

  <br>

  <strong>Additional Crew Member Name</strong>
  <label class="item item-input">
    <input type="text" placeholder="Additional Crew Member Name" ng-model="additional_crew_member_name">
  </label>
</div>
