<h2>Crew Information</h2>

<div class="list">
  Pilot in Command Name
  <label class="item item-input">
    <input type="text" placeholder="Pilot in Command Name" ng-model="pilot_in_command_name" required>
  </label>

  <br>

  Second in Command Name
  <label class="item item-input">
    <input type="text" placeholder="Second in Command Name" ng-model="second_in_command_name" required>
  </label>

  <br>

  Cabin Crew Name
  <label class="item item-input">
    <input type="text" placeholder="Cabin Crew Name" ng-model="cabin_crew_name">
  </label>

  <br>

  Additional Crew Member Name
  <label class="item item-input">
    <input type="text" placeholder="Additional Crew Member Name" ng-model="additional_crew_member_name">
  </label>
</div>
