<ion-content>
  <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="Pilot in Command Name" required>
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Second in Command Name" required>
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Cabin Crew Name">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Additional Crew Member Name">
    </label>
  </div>
</ion-content>
