<h2> 20 </h2>

Type of warning
<select>
<option value="Pull up">Pull up</option>
<option value="Terrain ahead, pull up">Terrain ahead, pull up</option>
<option value="Too Low Gear">Too Low Gear</option>
<option value="Bank Angle">Bank Angle</option>
<option value="Sink rate">Sink rate</option>
<option value="Terrain">Terrain</option>
<option value="Terrain ahead">Terrain ahead</option>
<option value="Too low flaps">Too low flaps</option>
<option value="Windshear">Windshear</option>
<option value="Sink rate">Sink rate</option>
<option value="Too low terrain">Too low terrain</option>
<option value="Glide slope">Glide slope</option>
<option value="Don't sink">Don't sink</option>
</select> Required <br>

Did you follow the EGPWS procedure?
<input type="radio" name="EGPWS" value="True" checked> True
<br>
<input type="radio" name="EGPWS" value="False"> False
<br> Required <br>

Vertical Speed (ft/min)
<input type="text"> <br>
Radio Altimeter (ft)
<input type="text"> <br>