<h4 class='centre'> EGPWS </h4>

<label class="item item-input item-select">
  <strong>Type of warning</strong><span class="error"> *</span>
  <select ng-model="FPCtrl.type_of_warning" required>
    <option disabled selected> select an option </option>
    <option value="Pull up">Pull up</option>
    <option value="Terrain ahead, pull up">Terrain ahead, pull up</option>
    <option value="Too Low Gear">Too Low Gear</option>
    <option value="Bank Angle">Bank Angle</option>
    <option value="Sink rate">Sink rate</option>
    <option value="Terrain">Terrain</option>
    <option value="Terrain ahead">Terrain ahead</option>
    <option value="Too low flaps">Too low flaps</option>
    <option value="Windshear">Windshear</option>
    <option value="Sink rate">Sink rate</option>
    <option value="Too low terrain">Too low terrain</option>
    <option value="Glide slope">Glide slope</option>
    <option value="Don't sink">Don't sink</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  <strong>Did you follow the EGPWS procedure?</strong><span class="error"> *</span>
  <select ng-model="FPCtrl.did_you_follow_the_egpws_procedure" required>
  <option disabled selected> select an option </option>
  <option value="true">True</option>
  <option value="false">False</option>
  </select>
</label>

<br>

<strong>Vertical Speed (ft/min)</strong>
<label class="item item-input">
  <input type="number" placeholder="Vertical Speed (ft/min)" ng-model="FPCtrl.vertical_speed">
</label>

<br>

<strong>Radio Altimeter (ft)</strong>
<label class="item item-input">
  <input type="number" placeholder="Radio Altimeter (ft)" ng-model="FPCtrl.radio_altimeter">
</label>

<br>
