<h2> EGPWS </h2>

<label class="item item-input item-select">
  Type of warning
  <select required>
    <option value="Pull up">Pull up</option>
    <option value="Terrain ahead, pull up">Terrain ahead, pull up</option>
    <option value="Too Low Gear">Too Low Gear</option>
    <option value="Bank Angle">Bank Angle</option>
    <option value="Sink rate">Sink rate</option>
    <option value="Terrain">Terrain</option>
    <option value="Terrain ahead">Terrain ahead</option>
    <option value="Too low flaps">Too low flaps</option>
    <option value="Windshear">Windshear</option>
    <option value="Sink rate">Sink rate</option>
    <option value="Too low terrain">Too low terrain</option>
    <option value="Glide slope">Glide slope</option>
    <option value="Don't sink">Don't sink</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  Did you follow the EGPWS procedure?
  <select required>
  <option value="true">True</option>
  <option value="false">False</option>
  </select>
</label>

<br>

Vertical Speed (ft/min)
<label class="item item-input">
  <input type="number" placeholder="Vertical Speed (ft/min)">
</label>

<br>

Radio Altimeter (ft)
<label class="item item-input">
  <input type="number" placeholder="Radio Altimeter (ft)">
</label>
