<ion-content>
  <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="Event Title">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Description of Issue / Event" required>
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Other information and suggestions from the reporter">
    </label>
    <label class="item item-input item-select">
      <div class="input-label">
        Any Operational Impact
      </div>
      <select>
        <option>Removed from duty</option>
        <option>Schedule changed</option>
        <option>NetJets Services</option>
        <option>Flight Cancelled</option>
      </select>
    </label>
  </div>
</ion-content>
