<h4 class='centre'> Event Identification </h4>

<strong>Location (ICAO Identifier)</strong>
<label class="item item-input">
  <input type="text" placeholder="Location (ICAO Identifier)" ng-model="FPCtrl.location_aiport">
</label>

<br>

<strong>Time the Event Occured</strong><span class="error"> *</span>
<label class="item item-input">
  <input type="time" placeholder="Time the Event Occured" ng-model="FPCtrl.time_the_event_occured" required>
</label>

<br>

<strong>Date Event Occured</strong><span class="error"> *</span>
<label class="item item-input">
  <input type="date" placeholder="Date Event Occured" ng-model="FPCtrl.date_the_event_occured" required>
</label>

<br>

<strong>Location Of Event (other than airport)</strong>
<label class="item item-input">
  <input type="text" placeholder="Location Of Event (other than airport)" ng-model="FPCtrl.location_of_the_event_other_than_airport">
</label>

<br>

<strong>Location Country</strong>
<label class="item item-input">
  <input type="text" placeholder="Location Country" ng-model="FPCtrl.location_country">
</label>

<br>
