<h4 class='centre'>Event Description</h4>

<strong>Event Title</strong>
<label class="item item-input">
  <input type="text" placeholder="Event Title" ng-model="FPCtrl.event_title">
</label>

<br>

<strong>Description of Issue / Event</strong><span class="error"> *</span>
<label class="item item-input">
  <textarea rows="10" cols="50" placeholder="Description of Issue / Event" ng-model="FPCtrl.description_of_issueevent" required>
</label>

<br>

<strong>Other information and suggestions from the reporter</strong>
<label class="item item-input">
  <input type="text" placeholder="Other information and suggestions from the reporter" ng-model="FPCtrl.other_information_and_suggestions_from_the_reporter">
</label>

<br>
