<ion-content>
  <label class="item item-input item-select">
    <div class="input-label">
      Location
    </div>
    <select>
      <option>Airport option 1</option>
      <option>Airport option 2</option>
      <option>Airport option 3</option>
    </select>
  </label>
  <label class="item item-input">
    <input type="date" placeholder="Date Event Occured" required>
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Location Of Event (other than airport)">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Location Country">
  </label>
</ion-content>
