<h2> Event Identification </h2>

<label class="item item-input item-select">
  <div class="input-label">
    Location
  </div>
  <select ng-model="location_aiport">
    <option disabled selected> select an option </option>
    <option>Airport option 1</option>
    <option>Airport option 2</option>
    <option>Airport option 3</option>
  </select>
</label>

<br>

Time the Event Occured
<label class="item item-input">
  <input type="time" placeholder="Time the Event Occured" ng-model="time_the_event_occured" required>
</label>

<br>

Date Event Occured
<label class="item item-input">
  <input type="date" placeholder="Date Event Occured" ng-model="date_the_event_occured" required>
</label>

<br>

Location Of Event (other than airport)
<label class="item item-input">
  <input type="text" placeholder="Location Of Event (other than airport)" ng-model="location_of_the_event_other_than_airport">
</label>

<br>

Location Country
<label class="item item-input">
  <input type="text" placeholder="Location Country" ng-model="location_country">
</label>
