<h2>Event Description</h2>

Event Title
<label class="item item-input">
  <input type="text" placeholder="Event Title">
</label>

<br>

Description of Issue / Event
<label class="item item-input">
  <input type="text" placeholder="Description of Issue / Event" required>
</label>

<br>

Other information and suggestions from the reporter
<label class="item item-input">
  <input type="text" placeholder="Other information and suggestions from the reporter">
</label>

<br>

<label class="item item-input item-select">
  <div class="input-label">
    Any Operational Impact
  </div>
  <select>
    <option disabled selected> select an option </option>
    <option>Removed from duty</option>
    <option>Schedule changed</option>
    <option>NetJets Services</option>
    <option>Flight Cancelled</option>
  </select>
</label>
