<h2> 26 </h2>

Fire <br>
<input type="radio" name="Fire" value="True" checked> True
<br>
<input type="radio" name="Fire" value="False"> False
<br> Required<br>

Sparks <br>
<input type="radio" name="Sparks" value="True" checked> True
<br>
<input type="radio" name="Sparks" value="False"> False
<br> Required <br>

Smoke <br>
<input type="radio" name="Smoke" value="True" checked> True
<br>
<input type="radio" name="Smoke" value="False"> False
<br> Required<br>

Fumes <br>
<input type="radio" name="Fumes" value="True" checked> True
<br>
<input type="radio" name="Fumes" value="False"> False
<br> Required