<h2> Fire, Sparks, Smoke & Fumes </h2>

<label class="item item-input item-select">
  Fire
  <select required>
  <option value="true">True</option>
  <option value="false">False</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  Sparks
  <select required>
  <option value="true">True</option>
  <option value="false">False</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  Smoke
  <select required>
  <option value="true">True</option>
  <option value="false">False</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  Fumes
  <select required>
  <option value="true">True</option>
  <option value="false">False</option>
  </select>
</label>
