<h4 class='centre'> Fire, Sparks, Smoke & Fumes </h4>

<strong>Fire</strong><small class="error">*</small>
<div class="inline">
  <label class="item item-radio">
    <ion-radio name="group1" ng-model="FPCtrl.fire" value="true" required>
      Yes
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <ion-radio name="group1" ng-model="FPCtrl.fire" value="false">
      No
    <i class="radio-icon ion-checkmark"></i>
  </label>
</div>

<br>
<br>
<br>

<strong>Sparks</strong><small class="error">*</small>
<div class="inline">
  <label class="item item-radio">
    <ion-radio name="group1" ng-model="FPCtrl.sparks" value="true" required>
      Yes
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <ion-radio name="group1" ng-model="FPCtrl.sparks" value="false">
      No
    <i class="radio-icon ion-checkmark"></i>
  </label>
</div>

<br>
<br>
<br>

<strong>Smoke</strong><small class="error">*</small>
<div class="inline">
  <label class="item item-radio">
    <ion-radio name="group1" ng-model="FPCtrl.smoke" value="true" required>
      Yes
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <ion-radio name="group1" ng-model="FPCtrl.smoke" value="false">
      No
    <i class="radio-icon ion-checkmark"></i>
  </label>
</div>

<br>
<br>
<br>

<strong>Fumes</strong><small class="error">*</small>
<div class="inline">
  <label class="item item-radio">
    <ion-radio name="group1" ng-model="FPCtrl.fumes" value="true" required>
      Yes
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <ion-radio name="group1" ng-model="FPCtrl.fumes" value="false">
      No
    <i class="radio-icon ion-checkmark"></i>
  </label>
</div>

<br>
<br>
<br>
