<label class="item item-input item-select">
  <label class="item item-input">
    <input type="text" placeholder="Callsign">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Diversion Airport">
  </label>
  Did this occur in flight?
  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Yes
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      No
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Tail Number" required>
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Aircraft Type" required>
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Route From" required>
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Route To" required>
  </label>
</label>
