<h4 class='centre'>Flight Details</h4>

<label class="item item-input item-select">
  <strong>Were you the pilot flying?</strong>
  <select ng-model="FPCtrl.were_you_the_pilot_flying" required>
  <option disabled selected> select an option </option>
  <option value="true">True</option>
  <option value="false">False</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  <strong>Pilot Flying?</strong>
  <select ng-model="FPCtrl.pilot_flying" required>
  <option disabled selected> select an option </option>
  <option value="true">PIC</option>
  <option value="false">SIC</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  <strong>Pilot Flying Seat?</strong>
  <select ng-model="FPCtrl.pilot_flying_seat" required>
  <option disabled selected> select an option </option>
  <option value="Right">Right</option>
  <option value="Left">Left</option>
  </select>
</label>

<br>

<strong>Runway Used</strong>
<label class="item item-input">
  <input type="text" placeholder="Runway Used" ng-model="FPCtrl.runway_used">
</label>

<br>

<strong>Aircraft Altitude</strong>
<label class="item item-input">
  <input type="number" placeholder="Aircraft Altitude">
  <select ng-model="FPCtrl.aircraft_altitude" required>
  <option disabled selected> select an option </option>
  <option value="true">ft</option>
  <option value="false">FL</option>
  </select>
</label>

<br>

<strong>Airspeed (KIAS)</strong>
<label class="item item-input">
  <input type="number" placeholder="Airspeed (KIAS)" ng-model="FPCtrl.airspeed_kias">
</label>

<br>

<label class="item item-input item-select">
  <strong>Flight Phase at Start of Event</strong>
  <div class="input-label">
  </div>
  <select ng-model="FPCtrl.flight_phase_at_start_of_event">
    <option disabled selected> select an option </option>
    <option>Non-Flight</option>
    <option>Predeparture / Preflight</option>
    <option>Engine Start / Pushback</option>
    <option>Taxi-Out</option>
    <option>Takeoff</option>
    <option>Climb</option>
    <option>Cruise</option>
    <option>Holding</option>
    <option>Descent</option>
    <option>Approach</option>
    <option>Go Around</option>
    <option>Landing</option>
    <option>Landing Flare</option>
    <option>Rollout Landing</option>
    <option>Taxi-In</option>
    <option>Arrival Shutdown</option>
    <option>Parked</option>
    <option>Postflight</option>
    <option>Towing</option>
  </select>
</label>

<br>

<strong>A/C Weight</strong>
<label class="item item-input">
  <input type="text" placeholder="A/C Weight">
  <select ng-model="FPCtrl.ac_weight" required>
  <option disabled selected> select an option </option>
  <option value="true">Kg</option>
  <option value="false">lb</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  <div class="input-label">
    <strong>Type of Flight</strong>
  </div>
  <select ng-model="FPCtrl.type_of_flight">
    <option disabled selected> select an option </option>
    <option>Admin</option>
    <option>OCF</option>
    <option>Ferry</option>
    <option>Training</option>
    <option>Maintenance</option>
    <option>Revenue</option>
    <option>Positioning</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  <div class="input-label">
    <strong>Event Runway Conditions<strong>
  </div>
  <select ng-model="FPCtrl.event_runway_conditions">
    <option disabled selected> select an option </option>
    <option>Dry</option>
    <option>Wet</option>
    <option>Snow</option>
    <option>Slush</option>
    <option>Standing Water</option>
    <option>Ice</option>
    <options>Other</options>
    <option>N/A</option>
  </select>
</label>

<br>
