<h2> Flight Details</h2>

<label class="item item-input item-select">
  Were you the pilot flying?
  <select ng-model="were_you_the_pilot_flying" required>
  <option disabled selected> select an option </option>
  <option value="true">True</option>
  <option value="false">False</option>
  </select>
</label>

<label class="item item-input item-select">
  Pilot Flying?
  <option disabled selected> select an option </option>
  <select ng-model="pilot_flying" required>
  <option value="true">PIC</option>
  <option value="false">SIC</option>
  </select>
</label>

<label class="item item-input item-select">
  Pilot Flying Seat?
  <select ng-model="pilot_flying_seat" required>
  <option disabled selected> select an option </option>
  <option value="true">Right</option>
  <option value="false">Left</option>
  </select>
</label>

<br>

Runway Used
<label class="item item-input">
  <input type="text" placeholder="Runway Used" ng-model="runway_used">
</label>

<br>

Aircraft Altitude
<label class="item item-input">
  <input type="number" placeholder="Aircraft Altitude">
  <select ng-model="aircraft_altitude" required>
  <option disabled selected> select an option </option>
  <option value="true">ft</option>
  <option value="false">FL</option>
  </select>
</label>

<br>

Airspeed (KIAS)
<label class="item item-input">
  <input type="number" placeholder="Airspeed (KIAS)" ng-model="airspeed_kias">
</label>

<br>

Flight Phase at Start of Event
<label class="item item-input item-select">
  <div class="input-label">
  </div>
  <select ng-model="flight_phase_at_start_of_event">
    <option disabled selected> select an option </option>
    <option>Non-Flight</option>
    <option>Predeparture / Preflight</option>
    <option>Engine Start / Pushback</option>
    <option>Taxi-Out</option>
    <option>Takeoff</option>
    <option>Climb</option>
    <option>Cruise</option>
    <option>Holding</option>
    <option>Descent</option>
    <option>Approach</option>
    <option>Go Around</option>
    <option>Landing</option>
    <option>Landing Flare</option>
    <option>Rollout Landing</option>
    <option>Taxi-In</option>
    <option>Arrival Shutdown</option>
    <option>Parked</option>
    <option>Postflight</option>
    <option>Towing</option>
  </select>
</label>

<br>

A/C Weight
<label class="item item-input">
  <input type="text" placeholder="A/C Weight">
  <select ng-model="ac_weight" required>
  <option disabled selected> select an option </option>
  <option value="true">Kg</option>
  <option value="false">lb</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  <div class="input-label">
    Type of Flight
  </div>
  <select ng-model="type_of_flight">
    <option disabled selected> select an option </option>
    <option>Admin</option>
    <option>OCF</option>
    <option>Ferry</option>
    <option>Training</option>
    <option>Maintenance</option>
    <option>Revenue</option>
    <option>Positioning</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  <div class="input-label">
    Event Runway Conditions
  </div>
  <select ng-model="event_runway_conditions">
    <option disabled selected> select an option </option>
    <option>Dry</option>
    <option>Wet</option>
    <option>Snow</option>
    <option>Slush</option>
    <option>Standing Water</option>
    <option>Ice</option>
    <options>Other</options>
    <option>N/A</option>
  </select>
</label>
