<h4 class='centre'>Flight Identification</h4>

<strong>Callsign</strong>
<label class="item item-input">
  <input type="text" placeholder="Callsign" ng-model="callsign">
</label>

<br>

<strong>Diversion Airport</strong>
<label class="item item-input">
  <input type="text" placeholder="Diversion Airport" ng-model="diversion_airport">
</label>

<br>

<strong>Did this occur in flight?</strong>
<label class="item item-radio">
  <ion-radio name="group" ng-model="did_this_occur_in_flight">
    Yes
  <i class="radio-icon ion-checkmark"></i>
</label>

<label class="item item-radio">
  <ion-radio name="group" ng-model="did_this_occur_in_flight">
    No
  <i class="radio-icon ion-checkmark"></i>
</label>

<br>

<strong>Tail Number</strong>
<label class="item item-input">
  <input type="text" placeholder="Tail Number" ng-model="tail_number"required>
</label>

<br>

<strong>Aircraft Type</strong>
<label class="item item-input">
  <input type="text" placeholder="Aircraft Type" ng-model="aircraft_type" required>
</label>

<br>

<strong>Route From</strong>
<label class="item item-input">
  <input type="text" placeholder="Route From" ng-model="route_from" required>
</label>

<br>

<strong>Route To</strong>
<label class="item item-input">
  <input type="text" placeholder="Route To" ng-model="route_to"required>
</label>

<br>
