<h4 class='centre'>Laser Beam Questionaire</h4>

<strong>Did the light hit your eye(s) directly or from the side?</strong>
<label class="item item-input">
  <input type="text" placeholder="Did the light hit your eye(s) directly or from the side?" ng-model="FPCtrl.did_the_light_hit_your_eye_directly_or_from_the_side">
</label>

<br>

<strong>Describe visual / phychological / physical effects</strong>
<label class="item item-input">
  <input type="text" placeholder="Describe visual / phychological / physical effects" ng-model="FPCtrl.describe_visual_phychological_physical_effects">
</label>

<br>

<strong>Do you intend to seek medical attention?</strong>
<label class="item item-input">
  <input type="text" placeholder="Do you intend to seek medical attention?" ng-model="FPCtrl.do_you_intend_to_seek_medical_attention">
</label>

<br>

<strong>Duration of visual effects (seconds / minutes / hours / days)</strong>
<label class="item item-input">
  <input type="text" placeholder="Duration of visual effects (seconds / minutes / hours / days)" ng-model="FPCtrl.duration_of_visual_effects">
</label>

<br>

<strong>Color</strong>
<label class="item item-input">
  <input type="text" placeholder="Colour" ng-model="FPCtrl.color">
</label>

<br>

<strong>Do you feel you were intentionally tracked?</strong>
<label class="item item-input">
  <input type="text" placeholder="Do you feel you were intentionally tracked? " ng-model="FPCtrl.do_you_feel_you_were_intentionally_tracked">
</label>

<br>

<strong>Duration of exposure (seconds)</strong>
<label class="item item-input">
  <input type="text" placeholder="Duration of exposure (seconds)" ng-model="FPCtrl.duration_of_exposure_seconds">
</label>

<br>

<strong>Elevation of the beam from horizontal (degrees)</strong>
<label class="item item-input">
  <input type="text" placeholder="Elevation of the beam from horizontal (degrees)" ng-model="FPCtrl.elevation_of_the_beam_from_horizontal_degrees">
</label>

<br>

<strong>Light Source (stationary or moving)</strong>
<label class="item item-input">
  <input type="text" placeholder="Light Source (stationary or moving)" ng-model="FPCtrl.light_source_stationary_or_moving">
</label>

<br>

<strong>Nature of Beam (constant/flicker/pulsed)</strong>
<label class="item item-input">
  <input type="text" placeholder="Nature of Beam (constant/flicker/pulsed)" ng-model="FPCtrl.nature_of_beam_constant_flicker_pulsed">
</label>

<br>

<strong>Position of light source (relative to geographical feature of aircraft)</strong>
<label class="item item-input">
  <input type="text" placeholder="Position of light source (relative to geographical feature of aircraft)" ng-model="FPCtrl.position_of_light_source_relative_to_geographical_feature_of_aircraft">
</label>

<br>

<strong>Relative intensity (flashbulb/headlight/sunlight)</strong>
<label class="item item-input">
  <input type="text" placeholder="Relative intensity (flashbulb/headlight/sunlight)" ng-model="FPCtrl.relative_intensity_flashbulb_headlight_sunlight">
</label>

<br>

<strong>Was the beam visible prior to the incident?</strong>
<label class="item item-input">
  <input type="text" placeholder="Was the beam visible prior to the incident?" ng-model="FPCtrl.was_the_beam_visible_prior_to_the_incident">
</label>

<br>

<strong>Where did the light enter the cockpit? (left / left front / centre / right front / right / other)</strong>
<label class="item item-input">
  <input type="text" placeholder="Where did the light enter the cockpit? (left / left front / centre / right front / right / other) " ng-model="FPCtrl.where_did_the_light_enter_the_cockpit">
</label>

<br>

<strong>Aircraft Bank Angle</strong>
<label class="item item-input">
  <input type="text" placeholder="Aircraft Bank Angle " ng-model="FPCtrl.aircraft_bank_angle">
</label>

<br>

<strong>Aircraft Pitch Angle</strong>
<label class="item item-input">
  <input type="text" placeholder="Aircraft Pitch Angle " ng-model="FPCtrl.aircraft_pitch_angle">
</label>

<br>

<strong>Heading/Approximate heading if in turn</strong>
<label class="item item-input">
  <input type="text" placeholder="Heading/Approximate heading if in turn" ng-model="FPCtrl.heading_approximate_heading_if_in_turn">
</label>

<br>

<strong>Type/Name of approach or departure procedure</strong>
<label class="item item-input">
  <input type="text" placeholder="Type/Name of approach or departure procedure " ng-model="FPCtrl.type_name_of_approach_or_departure_procedure">
</label>

<br>

<strong>Can you estimate how far away the light source was from your location?</strong>
<label class="item item-input">
  <input type="text" placeholder="Can you estimate how far away the light source was from your location?" ng-model="FPCtrl.can_you_estimate_how_far_away_the_light_source_was_from_your_location">
</label>

<br>

<strong>Did any of these sustain damage by the light?</strong>
<label class="item item-input">
  <input type="text" placeholder="Did any of these sustain damage by the light? " ng-model="FPCtrl.did_any_of_these_sustain_damage_by_the_light">
</label>

<br>

<strong>Did anyone else see the light beam?</strong>
<label class="item item-input">
  <input type="text" placeholder="Did anyone else see the light beam?" ng-model="FPCtrl.did_anyone_else_see_the_light_beam">
</label>

<br>

<strong>Did the light come on suddenly, and did it become brighter as you approached it?</strong>
<label class="item item-input">
  <input type="text" placeholder="Did the light come on suddenly, and did it become brighter as you approached it?" ng-model="FPCtrl.did_the_light_come_on_suddenly_and_did_it_become_brighter_as_you_approachedit">
</label>

<br>

<strong>Did the light prevent or hamper you from doing those tasks, or was the light more of an annoyance?</strong>
<label class="item item-input">
  <input type="text" placeholder="Did the light prevent or hamper you from doing those tasks, or was the light more of an annoyance?" ng-model="FPCtrl.did_the_light_prevent_or_hamper_you_from_doing_those_tasks_or_was_the_light_more_of_an_annoyance">
</label>

<br>

<strong>Did the light seem to track your path or was there incidental contact?</strong>
<label class="item item-input">
  <input type="text" placeholder="Did the light seem to track your path or was there incidental contact?" ng-model="FPCtrl.did_the_light_seem_to_track_your_path_or_was_there_incidental_contact">
</label>

<br>

<strong>Did you attempt an evasive manoeuvre?</strong>
<label class="item item-input">
  <input type="text" placeholder="Did you attempt an evasive manoeuvre?" ng-model="FPCtrl.did_you_attempt_an_evasive_manoeuvre">
</label>

<br>

<strong>Did you look straight into the light beam or off to the side?</strong>
<label class="item item-input">
  <input type="text" placeholder="Did you look straight into the light beam or off to the side?" ng-model="FPCtrl.did_you_look_straight_into_the_light_beam_or_off_to_the_side">
</label>

<br>

<strong>Did you touch or rub your eyes at the time of the incident?</strong>
<label class="item item-input">
  <input type="text" placeholder="Did you touch or rub your eyes at the time of the incident?" ng-model="FPCtrl.did_you_touch_or_rub_your_eyes_at_the_time_of_the_incident">
</label>

<br>

<strong>How long was the exposure?</strong>
<label class="item item-input">
  <input type="text" placeholder="How long was the exposure?" ng-model="FPCtrl.how_long_was_the_exposure">
</label>

<br>

<strong>How successful were you avoiding it?</strong>
<label class="item item-input">
  <input type="text" placeholder="How successful were you avoiding it?" ng-model="FPCtrl.how_successful_were_you_avoiding_it">
</label>

<br>

<strong>How would you describe the brightness of the light?</strong>
<label class="item item-input">
  <input type="text" placeholder="How would you describe the brightness of the light?" ng-model="FPCtrl.how_would_you_describe_the_brightness_of_the_light">
</label>

<br>

<strong>If it flickered, how rapidly and regularly</strong>
<label class="item item-input">
  <input type="text" placeholder="If it flickered, how rapidly and regularly" ng-model="FPCtrl.if_it_flickered_how_rapidly_and_regularly">
</label>

<br>

<strong>If so, did the beam follow you as you tried to move away?</strong>
<label class="item item-input">
  <input type="text" placeholder="If so, did the beam follow you as you tried to move away?" ng-model="FPCtrl.if_so_did_the_beam_follow_you_as_you_tried_to_move_away">
</label>

<br>

<strong>Was it equally bright in all areas or was it brighter in one area?</strong>
<label class="item item-input">
  <input type="text" placeholder="Was it equally bright in all areas or was it brighter in one area?" ng-model="FPCtrl.was_it_equally_bright_in_all_areas_or_was_it_brighter_in_one_area">
</label>

<br>

<strong>Was the light coming directly from its source or did it appear to be reflected off other surfaces?</strong>
<label class="item item-input">
  <input type="text" placeholder="Was the light coming directly from its source or did it appear to be reflected off other surfaces?" ng-model="FPCtrl.was_the_light_coming_directly_from_its_source_or_did_it_appear_to_be_reflected_off_other_surface">
</label>

<br>

<strong>Was the light continuous or did it seem to flicker?</strong>
<label class="item item-input">
  <input type="text" placeholder="Was the light continuous or did it seem to flicker?" ng-model="FPCtrl.was_the_light_continuous_or_did_it_seem_to_flicker">
</label>

<br>

<strong>Was the source moving?</strong>
<label class="item item-input">
  <input type="text" placeholder="Was the source moving?" ng-model="FPCtrl.was_the_source_moving">
</label>

<br>

<strong>Were there multiple sources of light?<strong>
<label class="item item-input">
  <input type="text" placeholder="Were there multiple sources of light?" ng-model="FPCtrl.were_there_multiple_sources_of_light">
</label>

<br>

<strong>What tasks were you performing when the exposure occurred?</strong>
<label class="item item-input">
  <input type="text" placeholder="What tasks were you performing when the exposure occurred?" ng-model="FPCtrl.what_tasks_were_you_performing_when_the_exposure_occurred">
</label>

<br>

<strong>What was between the light source and your eyes (windscreen / glasses / contact lenses / etc)?<strong>
<label class="item item-input">
  <input type="text" placeholder="What was between the light source and your eyes (windscreen / glasses / contact lenses / etc)?" ng-model="FPCtrl.what_was_between_the_light_source_and_your_eyes">
</label>

<br>
