<h2> Laser Beam Questionaire </h2>

Did the light hit your eye(s) directly or from the side?
<label class="item item-input">
  <input type="text" placeholder="Did the light hit your eye(s) directly or from the side?">
</label>
<br>

Describe visual / phychological / physical effects
<label class="item item-input">
  <input type="text" placeholder="Describe visual / phychological / physical effects">
</label>
<br>

Do you intend to seek medical attention?  
<label class="item item-input">
  <input type="text" placeholder="Do you intend to seek medical attention?">
</label>
<br>

Duration of visual effects (seconds / minutes / hours / days)  
<label class="item item-input">
  <input type="text" placeholder="Duration of visual effects (seconds / minutes / hours / days)">
</label>
<br>

Note: This is recommended if even minor symptoms were experienced. 
<label class="item item-input">
  <input type="text" placeholder="Note: This is recommended if even minor symptoms were experienced.">
</label>
<br>

Color 
<label class="item item-input">
  <input type="text" placeholder="Color">
</label>
<br>

Do you feel you were intentionally tracked? 
<label class="item item-input">
  <input type="text" placeholder="Do you feel you were intentionally tracked? ">
</label>
<br>

Duration of exposure (seconds) 
<label class="item item-input">
  <input type="text" placeholder="Duration of exposure (seconds)">
</label>
<br>

Elevation of the beam from horizontal (degrees)  
<label class="item item-input">
  <input type="text" placeholder="Elevation of the beam from horizontal (degrees) ">
</label>
<br>

Light Source (stationary or moving) 
<label class="item item-input">
  <input type="text" placeholder="Light Source (stationary or moving)">
</label>
<br>

Nature of Beam (constant/flicker/pulsed) 
<label class="item item-input">
  <input type="text" placeholder="Nature of Beam (constant/flicker/pulsed)">
</label>
<br>

Position of light source (relative to geographical feature of aircraft) 
<label class="item item-input">
  <input type="text" placeholder="Position of light source (relative to geographical feature of aircraft)">
</label>
<br>

Relative intensity (flashbulb/headlight/sunlight) 
<label class="item item-input">
  <input type="text" placeholder="Relative intensity (flashbulb/headlight/sunlight)">
</label>
<br>

Was the beam visible prior to the incident? 
<label class="item item-input">
  <input type="text" placeholder="Was the beam visible prior to the incident?">
</label>
<br>

Where did the light enter the cockpit? (left / left front / centre / right front / right / other) 
<label class="item item-input">
  <input type="text" placeholder="Where did the light enter the cockpit? (left / left front / centre / right front / right / other) ">
</label>
<br>

Aircraft Bank Angle 
<label class="item item-input">
  <input type="text" placeholder="Aircraft Bank Angle ">
</label>
<br>

Aircraft Pitch Angle 
<label class="item item-input">
  <input type="text" placeholder="Aircraft Pitch Angle ">
</label>
<br>

Heading/Approximate heading if in turn 
<label class="item item-input">
  <input type="text" placeholder="Heading/Approximate heading if in turn">
</label>
<br>

Type/Name of approach or departure procedure 
<label class="item item-input">
  <input type="text" placeholder="Type/Name of approach or departure procedure ">
</label>
<br>

Can you estimate how far away the light source was from your location? 
<label class="item item-input">
  <input type="text" placeholder="Can you estimate how far away the light source was from your location?">
</label>
<br>

Did any of these sustain damage by the light? 
<label class="item item-input">
  <input type="text" placeholder="Did any of these sustain damage by the light? ">
</label>
<br>

Did anyone else see the light beam?  
<label class="item item-input">
  <input type="text" placeholder="Did anyone else see the light beam?">
</label>
<br>

Did the light come on suddenly, and did it become brighter as you approached it?  
<label class="item item-input">
  <input type="text" placeholder="Did the light come on suddenly, and did it become brighter as you approached it?">
</label>
<br>

Did the light prevent or hamper you from doing those tasks, or was the light more of an annoyance?  
<label class="item item-input">
  <input type="text" placeholder="Did the light prevent or hamper you from doing those tasks, or was the light more of an annoyance?">
</label>
<br>

Did the light seem to track your path or was there incidental contact? 
<label class="item item-input">
  <input type="text" placeholder="Did the light seem to track your path or was there incidental contact?">
</label>
<br>

Did you attempt an evasive manoeuvre? 
<label class="item item-input">
  <input type="text" placeholder="Did you attempt an evasive manoeuvre?">
</label>
<br>

Did you look straight into the light beam or off to the side?  
<label class="item item-input">
  <input type="text" placeholder="Did you look straight into the light beam or off to the side?">
</label>
<br>

Did you touch or rub your eyes at the time of the incident?  
<label class="item item-input">
  <input type="text" placeholder="Did you touch or rub your eyes at the time of the incident?">
</label>
<br>

How long was the exposure?  
<label class="item item-input">
  <input type="text" placeholder="How long was the exposure?">
</label>
<br>

How successful were you avoiding it?  
<label class="item item-input">
  <input type="text" placeholder="How successful were you avoiding it?">
</label>
<br>

How would you describe the brightness of the light?  
<label class="item item-input">
  <input type="text" placeholder="How would you describe the brightness of the light?">
</label>
<br>

If it flickered, how rapidly and regularly 
<label class="item item-input">
  <input type="text" placeholder="If it flickered, how rapidly and regularly">
</label>
<br>

If so, did the beam follow you as you tried to move away? 
<label class="item item-input">
  <input type="text" placeholder="If so, did the beam follow you as you tried to move away?">
</label>
<br>

Was it equally bright in all areas or was it brighter in one area?  
<label class="item item-input">
  <input type="text" placeholder="Was it equally bright in all areas or was it brighter in one area?">
</label>
<br>

Was the light coming directly from its source or did it appear to be reflected off other surfaces? 
<label class="item item-input">
  <input type="text" placeholder="Was the light coming directly from its source or did it appear to be reflected off other surfaces?">
</label>
<br>

Was the light continuous or did it seem to flicker?  
<label class="item item-input">
  <input type="text" placeholder="Was the light continuous or did it seem to flicker?">
</label>
<br>

Was the source moving?  
<label class="item item-input">
  <input type="text" placeholder="Was the source moving?">
</label>
<br>

Were there multiple sources of light?  
<label class="item item-input">
  <input type="text" placeholder="Were there multiple sources of light?">
</label>
<br>

What tasks were you performing when the exposure occurred?  
<label class="item item-input">
  <input type="text" placeholder="What tasks were you performing when the exposure occurred?">
</label>
<br>

What was between the light source and your eyes (windscreen / glasses / contact lenses / etc)?  
<label class="item item-input">
  <input type="text" placeholder="What was between the light source and your eyes (windscreen / glasses / contact lenses / etc)?">
</label>
<br>
