<h2> 16 </h2>
Did the light hit your eye(s) directly or from the side? <input type="text"> <br>
Describe visual* / phychological / physical effects  <input type="text"><br>
Do you intend to seek medical attention?  <input type="text"><br>
Duration of visual effects (seconds / minutes / hours / days)  <input type="text"><br>
Note: This is recommended if even minor symptoms were experienced. <input type="text"><br>
Color <input type="text"><br>
Do you feel you were intentionally tracked? <input type="text"><br>
Duration of exposure (seconds) <input type="text"><br>
Elevation of the beam from horizontal (degrees)  <input type="text"><br>
Light Source (stationary or moving) <input type="text"><br>
Nature of Beam (constant/flicker/pulsed) <input type="text"><br>
Position of light source (relative to geographical feature of aircraft) <input type="text"><br>
Relative intensity (flashbulb/headlight/sunlight) <input type="text"><br>
Was the beam visible prior to the incident? <input type="text"><br>
Where did the light enter the cockpit? (left / left front / centre / right front / right / other) <input type="text"><br>
Aircraft Bank Angle <input type="text"><br>
Aircraft Pitch Angle <input type="text"><br>
Heading/Approximate heading if in turn <input type="text"><br>
Type/Name of approach or departure procedure <input type="text"><br>
Can you estimate how far away the light source was from your location? <input type="text"><br>
Did any of these sustain damage by the light? <input type="text"><br>
Did anyone else see the light beam?  <input type="text"><br>
Did the light come on suddenly, and did it become brighter as you approached it?  <input type="text"><br>
Did the light prevent or hamper you from doing those tasks, or was the light more of an annoyance?  <input type="text"><br>
Did the light seem to track your path or was there incidental contact? <input type="text"><br>
Did you attempt an evasive manoeuvre? <input type="text"><br>
Did you look straight into the light beam or off to the side?  <input type="text"><br>
Did you touch or rub your eyes at the time of the incident?  <input type="text"><br>
How long was the exposure?  <input type="text"><br>
How successful were you avoiding it?  <input type="text"><br>
How would you describe the brightness of the light?  <input type="text"><br>
If it flickered, how rapidly and regularly <input type="text"><br>
If so, did the beam follow you as you tried to move away? <input type="text"><br>
Was it equally bright in all areas or was it brighter in one area?  <input type="text"><br>
Was the light coming directly from its source or did it appear to be reflected off other surfaces? <input type="text"><br>
Was the light continuous or did it seem to flicker?  <input type="text"><br>
Was the source moving?  <input type="text"><br>
Were there multiple sources of light?  <input type="text"><br>
What tasks were you performing when the exposure occurred?  <input type="text"><br>
What was between the light source and your eyes (windscreen / glasses / contact lenses / etc)?  <input type="text"><br>