<h2> Maintenance Error </h2>

Errors Description
<label class="item item-input">
  <input type="text" placeholder="Errors description" ng-model="errors_description" required>
</label>
<br>

Aircraft Area Damaged
<label class="item item-input">
<input type="text" placeholder="Aircraft Area damaged" ng-model="aircraft_area_damaged" required>
</label>
<br>

Maintenance Facility
<label class="item item-input">
  <input type="text" placeholder="Maintenace facility" ng-model="maintenance_facility">
</label>