<ion-content>
  <div style = "margin-top:5%" ng-controller="formPostCtrl">
    <div ng-controller="DynamicLoadingCtrl as DLCtrl">
      <!-- <reportinfo></reportinfo>
      <eventid></eventid>
      <eventcategory></eventcategory>
      <eventdescription></eventdescription>
      <crewinformation></crewinformation>
      <flightidentification></flightidentification>
      <flightdetails></flightdetails>
      <meteorologicalinfo></meteorologicalinfo>
      ng-show="DLCtrl.laserbeamquestionnaire(event_category)" -->

      <laserbeamquestionnaire ></laserbeamquestionnaire>
      <aircraftconfiguration ng-show="DLCtrl.aircraftconfiguration(event_category)"></aircraftconfiguration>
      <airproxtcas ng-show="DLCtrl.airproxtcas(event_category)"></airproxtcas>
      <altitudedeviation ng-show="DLCtrl.altitudedeviation(event_category)"></altitudedeviation>
      <egpws ng-show="DLCtrl.egpws(event_category)"></egpws>
      <maintenanceerror ng-show="DLCtrl.maintenanceerror(event_category)"></maintenanceerror>
      <systemfailure ng-show="DLCtrl.systemfailure(event_category)"></systemfailure>
      <waketurbulence ng-show="DLCtrl.waketurbulence(event_category)"></waketurbulence>
      <wildlifestrike ng-show="DLCtrl.wildlifestrike(event_category)"></wildlifestrike>
      <firesparkssmokefumes ng-show="DLCtrl.firesparkssmokefumes(event_category)"></firesparkssmokefumes>
    </div>
    <button class="button button-block button-balanced" ng-click="formPostCtrl.postFormData()">Submit</button>
  </div>
</ion-content>
