<h4 class='centre'>Maintenance Error</h4>

<strong>Errors Description</strong><span class="error"> *</span>
<label class="item item-input">
  <input type="text" placeholder="Errors description" ng-model="FPCtrl.errors_description" required>
</label>
<br>

<strong>Aircraft Area Damaged</strong><span class="error"> *</span>
<label class="item item-input">
<input type="text" placeholder="Aircraft Area damaged" ng-model="FPCtrl.aircraft_area_damaged" required>
</label>
<br>

<strong>Maintenance Facility</strong>
<label class="item item-input">
  <input type="text" placeholder="Maintenace facility" ng-model="FPCtrl.maintenance_facility">
</label>

<br>
