<reportinfo></reportinfo>
<eventid></eventid>
<eventcategory></eventcategory>
<eventdescription></eventdescription>
<crewinformation></crewinformation>
<flightidentification></flightidentification>
<flightdetails></flightdetails>
<meteorologicalinfo></meteorologicalinfo>
<laserbeamquestionnaire></laserbeamquestionnaire>
<aircraftconfiguration></aircraftconfiguration>
<airproxtcas></airproxtcas>
<altitudedeviation></altitudedeviation>
<egpws></egpws>
<maintenanceerror></maintenanceerror>
<systemfailure></systemfailure>
<waketurbulence></waketurbulence>
<wildlifestrike></wildlifestrike>
<firesparkssmokefumes></firesparkssmokefumes>
