<ion-content>
  <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="Temperature" ng-model="temperature_c">
    </label>
    <label class="item item-input item-select">
      <div class="input-label">
        Meteorolical Conditions
      </div>
      <select ng-model="meteorological_conditions">
        <option disabled selected> select an option </option>
        <option>CAT I</option>
        <option>Cat II/III</option>
        <option>INC</option>
        <option>VMC</option>
        <option>Marginal</option>
        <option>Below Mins</option>
      </select>
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Visibility" ng-model="visibility">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Wind Direction" ng-model="wind_direction">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Wind Velocity" ng-model="wind_velocity">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="QNH" ng-model="qnh">
    </label>
    <label class="item item-input item-select">
      <div class="input-label">
        Icing
      </div>
      <select ng-model="icing">
        <option disabled selected> select an option </option>
        <option>Light</option>
        <option>Moderate</option>
        <option>Severe</option>
      </select>
    </label>
    <label class="item item-input item-select">
      <div class="input-label">
        Turbulence
      </div>
      <select ng-model="turbulence">
        <option disabled selected> select an option </option>
        <option>Light</option>
        <option>Moderate</option>
        <option>Severe</option>
      </select>
    </label>

    Rain?
    <label class="item item-radio">
      <input type="radio" name="group" ng-model="rain">
      <div class="item-content">
        True
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
      <input type="radio" name="group" ng-model="rain">
      <div class="item-content">
        False
      </div>
      <i class="radio-icon ion-checkmark"></i>

    Thunderstorms?
    <label class="item item-radio">
      <input type="radio" name="group" ng-model="thunderstorms">
      <div class="item-content">
        True
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
      <input type="radio" name="group" ng-model="thunderstorms">
      <div class="item-content">
        False
      </div>
      <i class="radio-icon ion-checkmark"></i>

    Visibility?
    <label class="item item-radio">
      <input type="radio" name="group" ng-model="msm_visibility">
      <div class="item-content">
        m
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
      <input type="radio" name="group" ng-model="msm_visibility">
      <div class="item-content">
        SM
      </div>
      <i class="radio-icon ion-checkmark"></i>

    Meteorological Conditions
    <label class="item item-radio">
      <input type="radio" name="group" ng-model="meteorological_conditions_iv">
      <div class="item-content">
        VMC
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
      <input type="radio" name="group" ng-model="meteorological_conditions_iv">
      <div class="item-content">
        IMC
      </div>
      <i class="radio-icon ion-checkmark"></i>
  </div>
</ion-content>
