<h4 class='centre'>Meterorological Information</h4>

<strong>Temperature</strong>
<label class="item item-input">
  <input type="text" placeholder="Temperature" ng-model="temperature_c">
</label>

<br>

<label class="item item-input item-select">
  <div class="input-label">
    <strong>Meteorolical Conditions</strong>
  </div>
  <select ng-model="meteorological_conditions">
    <option disabled selected> select an option </option>
    <option>CAT I</option>
    <option>Cat II/III</option>
    <option>INC</option>
    <option>VMC</option>
    <option>Marginal</option>
    <option>Below Mins</option>
  </select>
</label>

<br>

<strong>Visibility</strong>
<label class="item item-input">
  <input type="text" placeholder="Visibility" ng-model="visibility">
</label>

<br>

<strong>Wind Direction</strong>
<label class="item item-input">
  <input type="text" placeholder="Wind Direction" ng-model="wind_direction">
</label>

<br>

<strong>Wind Velocity</strong>
<label class="item item-input">
  <input type="text" placeholder="Wind Velocity" ng-model="wind_velocity">
</label>

<br>

<strong>QNH</strong>
<label class="item item-input">
  <input type="text" placeholder="QNH" ng-model="qnh">
</label>

<br>

<label class="item item-input item-select">
  <div class="input-label">
    <strong>Icing</strong>
  </div>
  <select ng-model="icing">
    <option disabled selected> select an option </option>
    <option>Light</option>
    <option>Moderate</option>
    <option>Severe</option>
  </select>
</label>

<br>

<label class="item item-input item-select">
  <div class="input-label">
    <strong>Turbulence</strong>
  </div>
  <select ng-model="turbulence">
    <option disabled selected> select an option </option>
    <option>Light</option>
    <option>Moderate</option>
    <option>Severe</option>
  </select>
</label>

<br>

<strong>Rain?<strong>
  <label class="item item-radio">
    <ion-radio name="group1" ng-model="rain">
      Yes
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <ion-radio name="group1" ng-model="rain">
      No
    <i class="radio-icon ion-checkmark"></i>
  </label>

<br>

<strong>Thunderstorms?</strong>
<label class="item item-radio">
  <ion-radio name="group2" ng-model="thunderstorms">
    Yes
  <i class="radio-icon ion-checkmark"></i>
</label>

<label class="item item-radio">
  <ion-radio name="group2" ng-model="thunderstorms">
    No
  <i class="radio-icon ion-checkmark"></i>
</label>

<br>

<strong>Visibility?</strong>
<label class="item item-radio">
  <ion-radio name="group3" ng-model="msm_visibility">
    m
  <i class="radio-icon ion-checkmark"></i>
</label>

<label class="item item-radio">
  <ion-radio name="group3" ng-model="msm_visibility">
    SM
  <i class="radio-icon ion-checkmark"></i>
</label>

<br>

<strong>Meteorological Conditions</strong>
<label class="item item-radio">
  <ion-radio name="group4" ng-model="meteorological_conditions_iv">
    VMC
  <i class="radio-icon ion-checkmark"></i>
</label>

<label class="item item-radio">
  <ion-radio name="group4" ng-model="meteorological_conditions_iv">
    IMC
  <i class="radio-icon ion-checkmark"></i>
</label>

<br>
