<h4 class='centre'>Report Information</h4>

<strong>Report to be confidential?</strong>

<div class="list">
  <label class="item item-radio">
    <ion-radio name="confidentiality" ng-model="report_to_be_confidential">
      True
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <ion-radio name="confidentiality" ng-model="report_to_be_confidential">
      False
    <i class="radio-icon ion-checkmark"></i>
  </label>
</div>

<br>

<strong>FDM event?</strong>

<div class="list">
  <label class="item item-radio">
    <ion-radio name="fdm" ng-model="fdm_event">
      True
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <ion-radio name="fdm" ng-model="fdm_event">
      False
    <i class="radio-icon ion-checkmark"></i>
  </label>
</div>

<br>
