<h4 class='centre'>Report Information</h4>

<strong>Report confidential?</strong>
<div class="inline">
  <label class="item item-radio">
    <ion-radio name="group1" ng-model="FPCtrl.report_to_be_confidential" value="true">
      Yes
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <ion-radio name="group1" ng-model="FPCtrl.report_to_be_confidential" value="false">
      No
    <i class="radio-icon ion-checkmark"></i>
  </label>
</div>

<br>
<br>
<br>


<strong>FDM event?</strong>
<div class="inline">
  <label class="item item-radio">
    <ion-radio name="group2" ng-model="FPCtrl.fdm_event" value="true">
      Yes
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <ion-radio name="group2" ng-model="FPCtrl.fdm_event" value="false">
      No
    <i class="radio-icon ion-checkmark"></i>
  </label>
</div>

<br>
<br>
<br>
