<ion-content>
  <div class="list">
    Report to be confidential?
    <label class="item item-radio">
      <input type="radio" name="group" ng-model="report_to_be_confidential">
      <div class="item-content">
        True
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
      <input type="radio" name="group" ng-model="report_to_be_confidential">
      <div class="item-content">
        False
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>

    FDM event?
    <label class="item item-radio">
      <input type="radio" name="group" ng-model="fdm_event">
      <div class="item-content">
        True
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
      <input type="radio" name="group" ng-model="fdm_event">
      <div class="item-content">
        False
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>
  </div>
</ion-content>
