<ion-content ng-controller="signUpCtrl as signup" style="margin-top: 90px;">
  <button class="button button-positive" ui-sref="signIn">Back to sign in</button>
  <div class="list">
    <label class="item item-input">
     <input type="text" ng-model="name" placeholder="Name" required>
    </label>
    <label class="item item-input">
     <input type="text" placeholder="Job Title" required>
    </label>
    <label class="item item-input">
     <input type="text" placeholder="Department">
    </label>
    <label class="item item-input item-select">
     <div class="input-label">
       Subsidiary
     </div>
     <select>
       <option disabled selected> select an option </option>
       <option>NetJets Aviation</option>
       <option>NetJets Sales</option>
       <option>NetJets Services</option>
       <option>Marquis Jet Partners</option>
       <option>Executive Jet Management</option>
       <option>Executive Jet Management China</option>
       <option>Executive Jet Management Europe</option>
       <option>NTA</option>
       <option>Other</option>
     </select>
    </label>
    <label class="item item-input">
     <input type="tel" ng-model="primaryphone" placeholder="Primary Phone" required>
    </label>
    <label class="item item-input">
     <input type="tel" ng-model="secondaryphone" placeholder="Secondary Phone" required>
    </label>
    <label class="item item-input">
     <input type="email" ng-model="email" placeholder="Email" required>
    </label>
    <label class="item item-input">
     <input type="text" ng-model="address" placeholder="Address" required>
    </label>
    <label class="item item-input">
     <input type="text" ng-model="rank" placeholder="Rank" required>
    </label>
    <label class="item item-input item-select">
     <div class="input-label">
       Home Base
     </div>
     <select required>
       <option disabled selected> select an option </option>
       <option>Airport option 1</option>
       <option>Airport option 2</option>
       <option>Airport option 3</option>
     </select>
    </label>
    <label class="item item-input">
     <input type="text" ng-model="crewmemtype" placeholder="Crew Member Aircraft Type">
    </label>
    <label class="item item-input">
     <input type="text" ng-model="otheremployee" placeholder="Other Employee Name">
    </label>
    <label class="item item-input">
     <input type="password" ng-model="password" placeholder="Password">
    </label>
    <label class="item item-input">
     <input type="password" ng-model="passwordconf" placeholder="Password Confirmation">
    </label>
    <button class="button button-positive" ng-click="signup.postSignUp(email, password, passwordconf, name, address, primaryphone, secondaryphone, rank, crewmemtype, otheremployee)">Sign Up</button>
 </div>
</ion-content>
