<ion-content class="marginTop" ng-controller="signUpCtrl as signup">

    <button class="button button-block button-positive" ui-sref="signIn">Back to sign in</button>

    <strong>Username</strong>
    <label class="item item-input">
      <input type="text" ng-model="username" placeholder="Username" required>
    </label>

    <br>

    <strong>Password</strong><span class="error"> must be atleast 8 characters</span>
    <label class="item item-input">
      <input type="password" ng-model="password" placeholder="Password">
    </label>

    <br>

    <strong>Password Confirmation</strong>
    <label class="item item-input">
      <input type="password" ng-model="passwordconf" placeholder="Password Confirmation">
    </label>

    <br>

    <button class="button button-block button-positive" ng-click="signup.postSignUp(username, password, passwordconf)">Sign Up</button>
  </div>
</ion-content>
