<h4 class='centre'> System Failure </h4>

<label class="item item-select">
<strong>Applicable checklist performed?</strong>
<select ng-model="FPCtrl.applicable_checklist_performed">
  <option disabled selected> select an option </option>
  <option type="radio" name="checklistPerformed" value="True" checked> True
  <option type="radio" name="checklistPerformed" value="False"> False
</select>
</label>
<br>

<label class="item item-select">
<strong>Defect entry made in Techlog?</strong>
<select ng-model="FPCtrl.defect_entry_made_in_techlog">
  <option disabled selected> select an option </option>
  <option type="radio" name="techlogTrue" value="True" checked> True </option>
  <option type="radio" name="techlogTrue" value="False"> False </option>
</select>
</label>
