<h4 class='centre'> System Failure </h4>

<strong>Applicable checklist performed?</strong>
<div class="inline">
  <label class="item item-radio">
    <ion-radio name="group1" ng-model="FPCtrl.applicable_checklist_performed" value="true">
      Yes
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <ion-radio name="group1" ng-model="FPCtrl.applicable_checklist_performed" value="false">
      No
    <i class="radio-icon ion-checkmark"></i>
  </label>
</div>

<br>
<br>
<br>
<br>

<strong>Defect entry made in Techlog?</strong>
<div class="inline">
  <label class="item item-radio">
    <ion-radio name="group2" ng-model="FPCtrl.defect_entry_made_in_techlog" value="true">
      Yes
    <i class="radio-icon ion-checkmark"></i>
  </label>

  <label class="item item-radio">
    <ion-radio name="group2" ng-model="FPCtrl.defect_entry_made_in_techlog" value="false">
      No
    <i class="radio-icon ion-checkmark"></i>
  </label>
</div>

<br>
<br>
<br>
