<h4 class='centre'> Wake Turbulence </h4>

<label class="item item-select">
<strong>Position on Glidepath</strong>
  <select ng-model="FPCtrl.position_on_glidepath">
    <option disabled selected> select an option </option>
    <option value="True">High</option>
    <option value="False">Low</option>
    <option value="On">On</option>
  </select required>
</label>

<br>

<strong>Heading<strong>
<label class="item item-input">
  <input type="text" ng-model="FPCtrl.altitude_change" placeholder="Heading">
</label>

<br>

<strong>Altitude Change<strong>
<label class="item item-input">
  <input type="text" ng-model="FPCtrl.altitude_change" placeholder="Altitude Change">
</label>

<br>

<strong>Change of attitude - Pitch</strong>
<label class="item item-input">
  <input type="text" ng-model="FPCtrl.change_of_attitude_pitch" placeholder="Change of attitude - Pitch">
</label>

<br>

<strong>Change of attitude - Roll</strong>
<label class="item item-input">
  <input type="text" ng-model="FPCtrl.change_of_attitude_roll" placeholder="Change of attitude - Roll">
</label>

<br>

<strong>Change of attitude - Yaw</strong>
<label class="item item-input">
  <input type="text" ng-model="FPCtrl.change_of_attitude_yaw" placeholder="Change of attitude - Yaw">
</label>

<br>

<label class="item item-select">
<strong>Suspected a/c visibile?</strong>
  <select ng-model="FPCtrl.suspected_ac_visibile">
    <option disabled selected> select an option </option>
    <option value="True">Yes</option>
    <option value="False">No</option>
    <option value="On">On</option>
  </select>
</label>

<br>

<strong>Suspected aircraft type</strong>
<label class="item item-input">
  <input type="text" ng-model="FPCtrl.suspected_aircraft_type" placeholder="Suspected aircraft type">
</label>

<br>

<strong>Suspected aircraft Callsign</strong>
<label class="item item-input">
  <input type="text" ng-model="FPCtrl.suspected_aircraft_callsign" placeholder="Suspected aircraft Callsign">
</label>

<br>

<strong>Estimated Separation (NM)</strong>
<label class="item item-input">
  <input type="text" ng-model="FPCtrl.estimated_separation_nm" placeholder="Estimated Separation (NM)">
</label>

<br>

<label class="item item-select">
<strong>Stickshaker</strong>
<select ng-model="FPCtrl.stickshaker">
  <option disabled selected> select an option </option>
  <option type="radio" name="Stickshaker" value="True" checked> Yes </option>
  <option type="radio" name="Stickshaker" value="False"> No </option>
</select>
</label>

<br>
