<h2> Wake Turbulence </h2>

<label class="item item-select">
Position on Glidepath
  <select>
    <option value="True">High</option>
    <option value="False">Low</option>
    <option value="On">On</option>
  </select required>
</label>
<label class=""
Heading
<input type="text"> <br>


Altitude Change
<label class="item item-input">
  <input type="text"> <br>
</label>
<br>

Change of attitude - Pitch
<label class="item item-input">
  <input type="text"> <br>
</label>
<br>

Change of attitude - Roll
<label class="item item-input">
  <input type="text"> <br>
</label>
<br>

Change of attitude - Yaw
<label class="item item-input">
  <input type="text"> <br>
</label>
<br>

<label class="item item-select">
Suspected a/c visibile?
  <select>
    <option value="True">True</option>
    <option value="False">False</option>
    <option value="On">On</option>
  </select> <br>
</label>
<br>

Suspected aircraft type
<label class="item item-input">
  <input type="text"> <br>
</label>
<br>

Suspected aircraft Callsign
<label class="item item-input">
  <input type="text"> <br>
</label>

Estimated Separation (NM)
<label class="item item-input">
  <input type="text">
</label>
<br>

<label class="item item-select">
Stickshaker
<select>
  <option type="radio" name="Stickshaker" value="True" checked> True</option>
  <option type="radio" name="Stickshaker" value="False"> False </option>
</select>
</label>