<h2> 24 </h2>

Position on Glidepath
<select>
  <option value="True">High</option>
  <option value="False">Low</option>
  <option value="On">On</option>
</select> Required <br>

Heading
<input type="text"> <br>

Altitude Change
<input type="text"> <br>

Change of attitude - Pitch
<input type="text"> <br>

Change of attitude - Roll
<input type="text"> <br>

Change of attitude - Yaw
<input type="text"> <br>

Suspected a/c visibile?
<select>
  <option value="True">True</option>
  <option value="False">False</option>
  <option value="On">On</option>
</select> <br>

Suspected aircraft type
<input type="text"> <br>

Suspected aircraft Callsign
<input type="text"> <br>

Estimated Separation (NM)
<input type="text"> Required <br>

Stickshaker
<input type="radio" name="Stickshaker" value="True" checked> True
<br>
<input type="radio" name="Stickshaker" value="False"> False
<br> Required <br>