<h2> Wildlife Strike </h2>

Type of animal
<label class="item item-input">
<input type="text" name="TypeOfAnimal" placeholder="Type of Animal:" required>
</label>
<br>

Number of animals seen
<label class="item item-input">
<input type="text" name="NumberOfAnimalsSeen" placeholder="Number of Animals Seen:" required>
</label>
<br>

Number of animals struck
<label class="item item-input">
<input type="text" name="NumberOfAnimalsStruck" placeholder="Number of animals struck" required>
</label>
<br>

Describe points of impact
<label class="item item-input">
<input type="text" name="Describe points of impact:" placeholder="Describe points of impact:" required>
</label>